.card{
    display: flex;
    flex-direction: column;
    width: 20rem;
    flex-grow: 1rem;
    height: 30rem;
    background-color: #FFFAFF;
    border-radius: 0.625rem;
    align-items: center;

    .imagecontainer{
        height: 11.25rem;
    }
    
    img{
        object-fit: cover;
        height: 100%;
        border-top-left-radius: 0.625rem;
        border-top-right-radius: 0.625rem;
    }

    .textcontainer{
        text-align: start;
        padding: 0.5rem;

        h3{
            font-size: 17.6px;
            font-weight: bold;
            color: #000000;
        }
        
        h2{
            font-size: 15px;
            font-weight: 200;
            color: #000000;
        }

        p{
            color: #000000;
            font-size: 12.8px;
        }
   }

   button{
        width: 15.625rem;
        height: 1.875rem;
        border: none;
        color: #000000;
        box-shadow: 0 0 40px 40px #CB48B7 inset, 0 0 0 0 #CB48B7;
        -webkit-transition: all 150ms ease-in-out;
        transition: all 150ms ease-in-out;
    
        &:hover {
            background-color: #FFFAFF;
            box-shadow: 0 0 10px 0 #CB48B7 inset, 0 0 10px 4px #CB48B7;
        }

    }
}
